* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.lists{
	width: 960px;
	padding: 50px 0;
	margin: 0 auto;
}

.list-box{
	width: 960px;
	height: 50px;
	padding: 20px 0 20px 20px;
}

.list-box:nth-child(odd){
	background-color: #f7f7f7;
}

.list-box:nth-child(even){

}


p {
	font-size: 11px;
}

.boxes{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.box1{
	width: 30%;
	height: 200px;
	background-color: orange;
	float:left;
}

.box2{
	width: 30%;
	height: 200px;
	background-color: yellow;
	float:left;
	margin: 0 5%;
}

.box3{
	width: 30%;
	height: 200px;
	background-color: yellow;
	float:left;
}

.box4{
	width: 30%;
	height: 200px;
	background-color: yellow;
	float:left;
	margin: 40px 0;
}

.box5{
	width: 30%;
	height: 200px;
	background-color: orange;
	float:left;
	margin: 40px 5%;
}

.box6{
	width: 30%;
	height: 200px;
	background-color: yellow;
	float:left;
	margin: 40px 0;
}

.box7{
	width: 30%;
	height: 200px;
	background-color: yellow;
	float:left;
}

.box8{
	width: 30%;
	height: 200px;
	background-color: yellow;
	float:left;
	margin: 0 5%;
}

.box9{
	width: 30%;
	height: 200px;
	background-color: orange;
	float:left;
}


